<div
  class="content-grid"
  style="
    transform: translate(510px, 0px);
    margin: 0px;
    transition: transform 0.4s ease-in-out 0s;
  "
>
  <!-- SECTION BANNER -->
 <app-banner [bannerData]="{
     title: 'Quiz',
     description: 'Apaixo apresentamos a listagem das quiz'
 }"></app-banner>


  <div class="row" style="margin-top: 10px">
    <div class="col-md-10">
      <div class="header-actions search-bar">
        <!-- SEARCH FORM -->
           <app-searh (EmitterValueSearch)="this.filterQuiz($event)" [placerholderText]="this.placeholderText">

           </app-searh>
        <!-- /SEARCH FORM -->
      </div>
    </div>
    <div class="col-md-2">
        <app-generic-button [proprietyButton]="{
          show_model: true,
          data_target_name: '#exampleModal',
          style: '',
          class:'button primary login-button',
          name: 'Criar Quiz'
        }"></app-generic-button>
    </div>

  </div>

  <app-card-quiz [cardQuizInfor]="this.quizData" (quizEvent)="this.setQuiz($event)">

  </app-card-quiz>



</div>

<app-create-or-edit-quiz
  (quizEvent)="this.createQuiz($event)" (editQuizEvent)="this.editQuiz($event)"
></app-create-or-edit-quiz>
