<div class="landing">
    <!-- LANDING DECORATION -->
    <div class="landing-decoration"></div>
    <!-- /LANDING DECORATION -->
  
    <!-- LANDING INFO -->
    <div class="landing-info">
      <!-- LOGO -->
      <div class="logo">
        <!-- ICON LOGO VIKINGER -->
        <svg class="icon-logo-vikinger">
          <use xlink:href="#svg-logo-vikinger"></use>
        </svg>
        <!-- /ICON LOGO VIKINGER -->
      </div>
      <!-- /LOGO -->
  
      <!-- LANDING INFO PRETITLE -->
      <h2 class="landing-info-pretitle">ONLINE QUIZ APP</h2>
      <!-- /LANDING INFO PRETITLE -->
  
      <!-- LANDING INFO TITLE -->
      <h1 class="landing-info-title">MY QUIZ</h1>
      <!-- /LANDING INFO TITLE -->
  
      <!-- LANDING INFO TEXT -->
      <p class="landing-info-text">TESTE OS SEUS CONHENCIMENTO EM DIVERSAS ÁREA DA VIDA , DESDE CIÊNCIAS  A JORNALISMO E NÃO SO </p>
      <!-- /LANDING INFO TEXT -->
  
      <!-- TAB SWITCH -->
      <div class="tab-switch">
        <!-- TAB SWITCH BUTTON -->
        <p class="tab-switch-button login-register-form-trigger">FAÇA O LOGING</p>
        <!-- /TAB SWITCH BUTTON -->
  
        <!-- TAB SWITCH BUTTON -->
        <p class="tab-switch-button login-register-form-trigger">SEM REGISTRO</p>
        <!-- /TAB SWITCH BUTTON -->
      </div>
      <!-- /TAB SWITCH -->
    </div>
    <!-- /LANDING INFO -->
  
    <!-- LANDING FORM -->
    <div class="landing-form">
      <!-- FORM BOX -->
      <div class="form-box login-register-form-element">
        <!-- FORM BOX DECORATION -->
        <img class="form-box-decoration overflowing" src="../../../../../assets/img/landing/rocket.png" alt="rocket">
        <!-- /FORM BOX DECORATION -->
  
        <!-- FORM BOX TITLE -->
        <h2 class="form-box-title">Account Login</h2>
        <!-- /FORM BOX TITLE -->
    
        <!-- FORM -->
             <app-login></app-login>
        <!-- /FORM -->
    
        <!-- LINED TEXT -->
        <p class="lined-text">Login with your Social Account</p>
        <!-- /LINED TEXT -->
    
        <!-- SOCIAL LINKS -->
        <div class="social-links">
          <!-- SOCIAL LINK -->
          <a class="social-link facebook" href="#">
            <!-- ICON FACEBOOK -->
            <svg class="icon-facebook">
              <use xlink:href="#svg-facebook"></use>
            </svg>
            <!-- /ICON FACEBOOK -->
          </a>
          <!-- /SOCIAL LINK -->
    
          <!-- SOCIAL LINK -->
          <a class="social-link twitter" href="#">
            <!-- ICON TWITTER -->
            <svg class="icon-twitter">
              <use xlink:href="#svg-twitter"></use>
            </svg>
            <!-- /ICON TWITTER -->
          </a>
          <!-- /SOCIAL LINK -->
    
          <!-- SOCIAL LINK -->
          <a class="social-link twitch" href="#">
            <!-- ICON TWITCH -->
            <svg class="icon-twitch">
              <use xlink:href="#svg-twitch"></use>
            </svg>
            <!-- /ICON TWITCH -->
          </a>
          <!-- /SOCIAL LINK -->
    
          <!-- SOCIAL LINK -->
          <a class="social-link youtube" href="#">
            <!-- ICON YOUTUBE -->
            <svg class="icon-youtube">
              <use xlink:href="#svg-youtube"></use>
            </svg>
            <!-- /ICON YOUTUBE -->
          </a>
          <!-- /SOCIAL LINK -->
        </div>
        <!-- /SOCIAL LINKS -->
      </div>
      <!-- /FORM BOX -->
    
      <!-- FORM BOX -->
      <div class="form-box login-register-form-element">
        <!-- FORM BOX DECORATION -->
        <img class="form-box-decoration" src="../../../../../assets/img/landing/rocket.png" alt="rocket">
        <!-- /FORM BOX DECORATION -->
  
        <!-- FORM BOX TITLE -->
        <h2 class="form-box-title">Crie Uma Conta!</h2>
        <!-- /FORM BOX TITLE -->
    
        <!-- FORM -->

        <!-- /FORM -->
         <app-sign-up></app-sign-up>
        <!-- FORM TEXT -->
        <p class="form-text">You'll receive a confirmation email in your inbox with a link to activate your account. If you have any problems, <a href="#">contact us</a>!</p>
        <!-- /FORM TEXT -->
      </div>
      <!-- /FORM BOX -->
    </div>
    <!-- /LANDING FORM -->
  </div>