<div
  class="content-grid"
  style="
    transform: translate(510px, 0px);
    margin: 0px;
    transition: transform 0.4s ease-in-out 0s;
  "
>
  <!-- SECTION BANNER -->
           <app-banner [bannerData]="{
            title:'Categoria',
            description: 'Apaixo apresentamos a listagem das quiz'
           }">

           </app-banner>

           <div class="row" style="margin-top: 10px">
            <div class="col-md-10">
              <div class="header-actions search-bar">
                <!-- SEARCH FORM -->
                   <app-searh  [placerholderText]="this.placeholderText" (EmitterValueSearch)="this.searchCategory($event)">
        
                   </app-searh>
                <!-- /SEARCH FORM -->
              </div>
            </div>
            <div class="col-md-2">
                <app-generic-button [proprietyButton]="{
                  show_model: true,
                  data_target_name: '#exampleModal',
                  style: '',
                  class:'button primary login-button',
                  name: 'Criar Categoria'
                }"></app-generic-button>
            </div>
        
          </div>
  
  <div class="grid grid-half">
   
    <div
      class="point-reward-box"
      *ngFor="let category of this.categoryData; index as i"
    >
      <!-- POINT REWARD BOX ICON WRAP -->
      <div class="point-reward-box-icon-wrap">
        <!-- ICON SVG -->
               {{i + 1}}

        
        <!-- ICON SVG -->
      </div>
      <!-- /POINT REWARD BOX ICON WRAP -->

      <!-- POINT REWARD BOX INFO -->
      <div class="point-reward-box-info point-reward-box-info-description">
        <!-- POINT REWARD BOX TITLE -->
        <p class="point-reward-box-title">Nome</p>
        <!-- /POINT REWARD BOX TITLE -->

        <!-- POINT REWARD BOX TEXT -->
        <p class="point-reward-box-text">{{ category.name }}</p>

        <!-- /POINT REWARD BOX TEXT -->
      </div>

      
      <!-- /POINT REWARD BOX INFO -->

      <!-- POINT REWARD BOX INFO -->
      <div class="point-reward-box-info">
        <!-- POINT REWARD BOX TITLE -->
        <p class="point-reward-box-title">Data Criação</p>
        <!-- /POINT REWARD BOX TITLE -->
        

        <!-- POINT REWARD BOX TEXT -->
        <p class="point-reward-box-text">
          {{ category.createdAt | date : "MM-dd-yyyy" }}
        </p>
        <!-- /POINT REWARD BOX TEXT -->
      </div>
      <!-- /POINT REWARD BOX INFO -->

      <!-- TEXT STICKER -->
      <p class="text-sticker" style="cursor: pointer;"> 
        <!-- ICON SVG -->
        <svg class="icon-plus-small text-sticker-icon"></svg>
        <!-- ICON SVG -->
         Editar
        <!-- TEXT STICKER IMAGE -->
        <i class="fa fa-edit"></i>
        <!-- /TEXT STICKER IMAGE -->
      </p>
      <!-- /TEXT STICKER -->

      <!-- SECTION HEADER -->
    </div>
  </div>

</div>



 <app-create-or-edit-categoria (categoryEvent)="this.createCategory($event)"></app-create-or-edit-categoria>