<div
  class="content-grid"
  style="
    transform: translate(510px, 0px);
    margin: 0px;
    transition: transform 0.4s ease-in-out 0s;
  "
>
<app-banner  *ngIf="this.userLogado.type_user === 'ADMIN'"
[bannerData]="{
    title: 'Dashboard Geral',
    description: 'Mostrando o total de todas as quiz'
}">

</app-banner>

 <app-admin-dasboard  *ngIf="this.userLogado.type_user==='ADMIN'" [dasboardCount]="this.dashboardCount">

 </app-admin-dasboard>

 <app-studand-dashboard *ngIf="this.userLogado.type_user !== 'ADMIN' " ></app-studand-dashboard>
 
</div>