
  <!-- FORM ROW -->
  <div class="form-row">
    <!-- FORM ITEM -->

  </div>
  <!-- /FORM ROW -->

  <div  [formGroup]="signForm">


  <!-- FORM ROW -->
  <div class="form-row">
    <!-- FORM ITEM -->
    <div class="form-item">
      <!-- FORM INPUT -->
      <div class="form-input">
        <label for="login-username">Username</label>
        <input type="text" id="login-username"  [ngClass]="{ 'is-invalid': submitted && this.f['username'].errors, 'is-valid': f['username'].touched && !f['username'].errors }" formControlName="username" class="is-invalid" name="login_username">
        <div *ngIf="this.submitted && this.f['username'].errors" class="invalid-feedback">
          <div *ngIf=" this.f['username'].errors['required']">
               por favor informa o username
          </div>

        </div>
      </div>
      <!-- /FORM INPUT -->
    </div>
    <!-- /FORM ITEM -->
  </div>
  <!-- /FORM ROW -->

  <!-- FORM ROW -->
  <div class="form-row">
    <!-- FORM ITEM -->
    <div class="form-item">
      <!-- FORM INPUT -->
      <div class="form-input">
        <label for="login-password">Password</label>
        <input type="password"  [ngClass]="{ 'is-invalid': submitted && this.f['password'].errors, 'is-valid': f['password'].touched && !f['password'].errors }" formControlName="password" class="is-invalid" id="login-password" name="login_password">
        <div *ngIf="this.submitted && this.f['password'].errors" class="invalid-feedback">
          <div *ngIf=" this.f['password'].errors['required']">
            por favor informa a password
          </div>

        </div>
      </div>
      <!-- /FORM INPUT -->
    </div>
    <!-- /FORM ITEM -->
  </div>
  <!-- /FORM ROW -->

  <!-- FORM ROW -->

  <!-- /FORM ROW -->

  <!-- FORM ROW -->
  <div class="form-row">
    <!-- FORM ITEM -->
    <div class="form-item">
      <!-- CHECKBOX WRAP -->
      <div class="checkbox-wrap">
        <input type="checkbox" id="register-newsletter" name="register_newsletter" checked>
        <!-- CHECKBOX BOX -->

        <!-- /CHECKBOX BOX -->
     <!--    <label for="register-newsletter">Send me news and updates via email</label> -->
      </div>
      <!-- /CHECKBOX WRAP -->
    </div>
    <!-- /FORM ITEM -->
  </div>
  <!-- /FORM ROW -->

</div>
  <!-- FORM ROW -->
  <div class="form-row">
    <!-- FORM ITEM -->
    <div class="form-item">
      <!-- BUTTON -->
      <button class="button medium secondary" (click)="this.signup()">Cadastrar-se!</button>
      <!-- /BUTTON -->
    </div>
    <!-- /FORM ITEM -->
  </div>
  <!-- /FORM ROW -->
