<nav  *ngIf="this.userLogIn.type_user== 'ADMIN'"
  id="navigation-widget"
  class="navigation-widget navigation-widget-desktop sidebar left navigation-widget-delayed"
  data-simplebar="init"
>
  <div class="simplebar-wrapper" style="margin: 0px 0px -40px">
    <div class="simplebar-height-auto-observer-wrapper">
      <div class="simplebar-height-auto-observer"></div>
    </div>
    <div class="simplebar-mask">
      <div class="simplebar-offset" style="right: 0px; bottom: 0px">
        <div
          class="simplebar-content-wrapper"
          tabindex="0"
          role="region"
          aria-label="scrollable content"
          style="height: 100%; overflow: none"
        >
          <div class="simplebar-content" style="padding: 0px 0px 40px">
            <!-- MENU -->
            <ul class="menu" *ngIf="this.userLogIn.type_user === 'ADMIN'">
              <!-- MENU ITEM -->

              <li class="menu-item ">
                <!-- MENU ITEM LINK -->
                <a
                  class="menu-item-link"
                  href="javscript:void(0)"
                  routerLink="/"
                  routerLinkActive="active"
                  data-title="Quiz"
                >
                  <!-- ICON SVG -->
                  <svg class="icon-newsfeed menu-item-link-icon">
                    <use href="#svg-newsfeed"></use>
                  </svg>
                  <!-- ICON SVG -->
                   dasboard
                </a>
                <!-- /MENU ITEM LINK -->
              </li>
              <li class="menu-item ">
                <!-- MENU ITEM LINK -->
                <a
                  class="menu-item-link"
                  href="javscript:void(0)"
                  routerLink="/all_quiz"
                  routerLinkActive="active"
                  data-title="Quiz"j
                >
                  <!-- ICON SVG -->
                  <svg class="icon-newsfeed menu-item-link-icon">
                    <use href="#svg-newsfeed"></use>
                  </svg>
                  <!-- ICON SVG -->
                  Quiz
                </a>
                <!-- /MENU ITEM LINK -->
              </li>
        
              <li class="menu-item">
                <!-- MENU ITEM LINK -->
                <a
                class="menu-item-link"
                routerLink="/all_category"
                routerLinkActive="active"
                href="javscript:void(0)"
         
             
                data-title="cate"
                >
                  <!-- ICON SVG -->
                  <svg class="icon-members menu-item-link-icon">
                    <use href="#svg-members"></use>
                  </svg>
                  <!-- ICON SVG --> Categorias
                </a>
                <!-- /MENU ITEM LINK -->
              </li>
              <li class="menu-item ">
                <!-- MENU ITEM LINK -->
                <a
                  class="menu-item-link"
                  href="javscript:void(0)"
                  routerLink="/all_quiz_section"
                  routerLinkActive="active"
                  data-title="Quiz"
                >
                  <!-- ICON SVG -->
                  <svg class="icon-newsfeed menu-item-link-icon">
                    <use href="#svg-newsfeed"></use>
                  </svg>
                  <!-- ICON SVG -->
                  Quiz Sessão
                </a>
                <!-- /MENU ITEM LINK -->
              </li>

              <li class="menu-item ">
                <!-- MENU ITEM LINK -->
                <a
                  class="menu-item-link"
                  href="javscript:void(0)"
                  routerLink="/all_quiz_question"
                  routerLinkActive="active"
                  data-title="Quiz"
                >
                  <!-- ICON SVG -->
                  <svg class="icon-newsfeed menu-item-link-icon">
                    <use href="#svg-newsfeed"></use>
                  </svg>
                  <!-- ICON SVG -->
                  Quiz Question
                </a>
                <!-- /MENU ITEM LINK -->
              </li>

                  
    <li class="menu-item ">
      <!-- MENU ITEM LINK -->
      <a
        class="menu-item-link"
        href="javscript:void(0)"
        routerLink="/users"
        routerLinkActive="active"
        data-title="Quiz"
      >
        <!-- ICON SVG -->
        <svg class="icon-group menu-item-link-icon">
          <use href="#svg-group"></use>
        </svg>
        <!-- ICON SVG -->
         Utilizadores
      </a>
      <!-- /MENU ITEM LINK -->
    </li>
          

            </ul>
            <!-- /MENU -->
          </div>
        </div>
      </div>
    </div>
    <div class="simplebar-placeholder" style="width: auto; height: 760px"></div>
  </div>
  <div class="simplebar-track simplebar-horizontal" style="visibility: hidden">
    <div class="simplebar-scrollbar" style="width: 0px; display: none"></div>
  </div>

</nav>
