<div   class="content-grid"  style="
transform: translate(510px, 0px);
margin: 0px;
transition: transform 0.4s ease-in-out 0s;">
 <app-banner [bannerData]="{
    title: 'User Quiz Sessão',
    description:'Abaixo listamos todas a quiz de utilizadores'
 }">

 </app-banner>

 <div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
         <app-card-quiz-session [cardQuizInfo]="this.quizSectionUsers" [is_studant]="this.is_studant" (quizSessionEvent)="this.goToFinalResults($event)">

         </app-card-quiz-session>
    </div>

 </div>
</div>