<div
  class="content-grid"
  style="
    transform: translate(510px, 0px);
    margin: 0px;
    transition: transform 0.4s ease-in-out 0s;
  "
>
<app-banner  [bannerData]="{
    title: 'Quiz Question',
    description:'Abaixo listamos a quiz Question'
}">




</app-banner>
<div class="row" style="margin-top: 10px">
    <div class="col-md-10">
      <div class="header-actions search-bar">
        <!-- SEARCH FORM -->
           <app-searh  [placerholderText]="this.placeholderText">

           </app-searh>
        <!-- /SEARCH FORM -->
      </div>
    </div>
    <div class="col-md-2">
        <app-generic-button [proprietyButton]="{
          show_model: true,
          data_target_name: '#exampleModal',
          style: '',
          class:'button primary login-button',
          name: 'Criar Quiz Pergunta'
        }"></app-generic-button>
    </div>

  </div>
  <app-card-quiz-question (quizQuestionID)="setQuizQuestionId($event)">

  </app-card-quiz-question>

</div>

<app-create-or-edit-quiz-question [quizSection]="this.quizSessionData" (quizQuestionEvent)="this.createQuizQuestion($event)">
  
</app-create-or-edit-quiz-question>
<app-add-answers-quiz-question [quiz_section]="this.quizQuestion_id" (answerEvents)="this.addOption($event)" ></app-add-answers-quiz-question>