
<div class="modal fade" id="quiz_question_description" data-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>

        </div>
        <div class="modal-body">
    
        </div>
        <div class="modal-footer" style="width: 400px;">
          <div class="container">
             <div class="row">
         
              <div class="col-md-6">
              <p>Teste</p>
              </div>

              <div class="col-md-6">
                <button type="button"  class="btn btn-danger btn-sm"  data-dismiss="modal">Fechar</button>
              </div>
              
            
             </div>
          </div>
     
        </div>
      </div>
    </div>
  </div>