<form class="form">
  <div class="form-row split">
    <div class="form-item">
      <div class="form-select">
        <label>Category</label
        ><select name="category">
          <option value="0">All Categories</option>
          <option value="25">Cosplay</option>
          <option value="18">Gaming</option>
          <option value="21">Stories</option>
          <option value="17">Unboxing</option></select
        ><svg class="icon-small-arrow form-select-icon">
          <use href="#svg-small-arrow"></use>
        </svg>
      </div>
    </div>

  </div>
</form>
